= content_for :page_title, t('views.teams.show.page_title')

- if current_user.admin?
  = link_to 'Back', custodians_path, class: 'link-back'
- elsif current_user.custodian?
  = link_to 'Back', teams_path, class: 'link-back'

%header.page-header
  .grid-row
    .column-two-thirds
      %h1.heading-large= t('views.teams.show.page_title')
    - unless current_user.admin? || current_user.basic?
      .column-one-third
        = link_to t('views.teams.new.page_title'), new_user_invitation_path(team_id: @team.id), class: 'button align-with-heading'

%div#registers
  %h3.heading-medium Registers managed by this team
  %ul.list.list-bullet
    - @team.registers.each do |register|
      %li= prepare_register_name(register.key)

  = link_to t('views.roles.change_registers'), edit_team_path(params[:id]) if current_user.admin?

%div#custodian
  %h3.heading-medium Custodian

  %table
    %tbody
      - if @custodian_team_member.present?
        %tr
          %td
            %span.user__name= @custodian_team_member.user.full_name
            %span.user__email
              - if current_user == @custodian_team_member.user
                (you)
              - else
                = @custodian_team_member.user.email
          %td
            = link_to t('views.roles.change_role'), edit_team_team_member_path(params[:id], @custodian_team_member) if current_user.admin?
      - else
        %tr
          %td
            %span.user__email There is no custodian on this team
          %td

  %details
    %summary
      %span.summary Learn about custodian permissions
    %div.panel.panel-border-narrow
      %ul.list.list-bullet
        %li Update records
        %li Submit updates for review
        %li Approve and publish updates to records

%div#advanced
  %h3.heading-medium Advanced

  %table
    %tbody
      - if @advanced_team_members.present?
        - @advanced_team_members.each do |team_member|
          %tr
            %td
              %span.user__name= team_member.user.full_name
              %span.user__email
                - if current_user == team_member.user
                  (you)
                - else
                  = team_member.user.email
            %td
              - unless current_user.basic? || current_user == team_member.user
                = link_to t('views.roles.change_role'), edit_team_team_member_path(params[:id], team_member)
      - else
        %tr
          %td
            %span.empty-table-text There are no team members with advanced permissions
          %td

  %details
    %summary
      %span.summary Learn about advanced permissions
    %div.panel.panel-border-narrow
      %ul.list.list-bullet
        %li Update records
        %li Submit updates for review
        %li Approve and publish updates to records

%div#basic
  %h3.heading-medium Basic

  %table
    %tbody
      - if @basic_team_members.present?
        - @basic_team_members.each do |team_member|
          %tr
            %td
              %span.user__name= team_member.user.full_name
              %span.user__email
                - if current_user == team_member.user
                  (you)
                - else
                  = team_member.user.email
            %td
              - unless current_user.basic? || current_user == team_member.user
                = link_to t('views.roles.change_role'), edit_team_team_member_path(params[:id], team_member)
      - else
        %tr
          %td
            %span.empty-table-text There are no team members with basic permissions
          %td
  %details
    %summary
      %span.summary Learn about basic permissions
    %div.panel.panel-border-narrow

      %ul.list.list-bullet
        %li Update records
        %li Submit update for review

%div#pending
  %h3.heading-medium Pending invites
  %table
    %tbody
      - if @pending_team_members.present?
        - @pending_team_members.each do |team_member|
          %tr
            %td
              %span.user__email= team_member.user.email
            %td
              = link_to t('views.roles.change_role'), edit_team_team_member_path(params[:id], team_member)
      - else
        %tr
          %td
            %span.empty-table-text There are no users with a pending invite
          %td
