= content_for :page_title, 'Review updates'
= link_to 'Back', "/#{params[:register]}", class: 'link-back'

- if params[:approve] == 'yes'
  %header.page-header
    %h1.heading-large Approve update

  = render partial: 'change/shared/difference'

  = form_tag change_path, method: :put do
    .multiple-choice
      = check_box_tag 'confirm_approve'
      = label_tag 'confirm_approve', "These updates will be published to the #{params[:register]} register."
    .form-group
      = submit_tag 'Approve', class: 'button'

- else
  %header.page-header
    %h1.heading-large Decline updates

  = form_tag change_path, method: :delete do
    %div.form-group
      %label{ for: 'text_area'} Add details to explain your reasons
      = text_area_tag 'comments', nil, rows: 5, class: 'form-control form-control-3-4'

    %div.panel.panel-border-wide
      %p Comments will be emailed to #{@change_user.full_name}

    = submit_tag 'Submit', class: 'button'
