= content_for :page_title, 'Review updates'
= link_to 'Back', "/#{params[:register_id]}", class: 'link-back'

%header.page-header
  %h1.heading-large Review updates

%dl
  %dt Submitted by:
  %dd #{@change.user.full_name}
  %dt Date:
  %dd #{@change.user.updated_at.strftime('%d %B %Y')}
  %dt Time:
  %dd #{@change.user.updated_at.strftime('%I.%M %p')}

= render partial: 'change/shared/difference'

%h5.heading-medium Do you want to approve these updates?

= form_tag edit_change_path, method: :get do
  .form-group
    %fieldset
      %legend.visually-hidden Do you want to approve these updates?
      .multiple-choice
        = radio_button_tag :approve, 'yes'
        = label_tag :approve_yes, 'Approve updates'
      .multiple-choice
        = radio_button_tag :approve, 'no'
        = label_tag :approve_no, 'Decline updates'
  .form-group
    = submit_tag "Continue", class: "button"
