= content_for :page_title, 'Change your account'

= link_to "Back", current_user, class: "link-back"

%h1.heading-large
  Update your account

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email, "Email address", class: "form-label"
    = f.email_field :email, class: "form-control"
  .form-group
    = f.label :current_password, class: "form-label"
    = f.password_field :current_password, class: "form-control"
  .form-group
    = f.label :password, "New password", class: "form-label"
    = f.password_field :password, class: "form-control"
  .form-group
    = f.label :password_confirmation, "Confirm new password", class: "form-label"
    = f.password_field :password_confirmation, class: "form-control"
  .actions
    = f.submit "Submit", class: "button"
