%h1.heading-xlarge Confirm changes

%table
  %thead
    %tr
      %th Fields
      %th Existing values
      %th New Values
      %th

  %tbody
    %tr
      %td Local authority type
      %td= @local_authority_type.code_was
      %td
        - if @local_authority_type.code_changed?
          .panel.panel-change-notification
            = @local_authority_type.code_was
      %td
    %tr
      %td Name
      %td= @local_authority_type.name_was
      %td
        - if @local_authority_type.name_changed?
          .panel.panel-change-notification
            = @local_authority_type.name
      %td
    %tr
      %td Start date
      %td= @local_authority_type.start_date_was
      %td
        - if @local_authority_type.start_date_changed?
          .panel.panel-change-notification
            = @local_authority_type.start_date
      %td
    %tr
      %td End date
      %td= @local_authority_type.end_date_was
      %td
        - if @local_authority_type.end_date_changed?
          .panel.panel-change-notification
            = @local_authority_type.end_date
      %td

.notice
  %i.icon.icon-important
    %span.visually-hidden Warning
  %strong.bold-small
    Once you submit these changes will be sent to the RDA team for approval
