= f.hidden_field :current_step, value: f.object.current_step

= render "home/steps/page#{f.object.current_step + 1}", f: f

.form-group
  = f.submit f.object.last_step? ?  "Submit" : "Continue", class: "button"

- if @country.new_record? && f.object.last_step?
  .form-group
    = f.submit "Go back and change the details", name: "back_button", class: "inline-link"
