- if @territory.persisted?
  %h1.heading-large Update the details
- else
  %h1.heading-large Add a new territory

.form-group
  = f.label :code, "Territory", class: "form-label form-label-bold"
  %span.form-hint The territory's ISO 3166-1 alpha3 code.
  = f.text_field :code, readonly: @territory.persisted?, class: "form-control form-control-1-8 #{@territory.persisted? ? 'disabled' : ''}"
.form-group
  = f.label :name, class: "form-label form-label-bold"
  %span.form-hint The commonly-used name of a record.
  = f.text_field :name, class: "form-control"
.form-group
  = f.label :official_name, class: "form-label form-label-bold"
  %span.form-hint The official or technical name of a record.
  = f.text_field :official_name, class: "form-control"
.form-group
  = f.label :start_date, class: "form-label form-label-bold"
  %span.form-hint The date a record stopped being applicable
  = f.text_field :start_date, class: "form-control"
.form-group
  = f.label :end_date, class: "form-label form-label-bold"
  %span.form-hint The date a record stopped being applicable to a register
  = f.text_field :end_date, class: "form-control"
