%h1.heading-xlarge Update the details

.form-group
  = f.label :code, "Local authority eng", class: "form-label form-label-bold"
  %span.form-hint The local authority's ISO 3166-1 alpha3 code.
  = f.text_field :code, readonly: true, class: "form-control form-control-1-8 disabled"
.form-group
  = f.label :name, class: "form-label form-label-bold"
  %span.form-hint The commonly-used name of a record.
  = f.text_field :name, class: "form-control"
.form-group
  = f.label :official_name, class: "form-label form-label-bold"
  %span.form-hint The official or technical name of a record.
  = f.text_field :official_name, class: "form-control"
.form-group
  = f.label :local_authority_type, class: "form-label form-label-bold"
  %span.form-hint The type of local government organisation.
  = f.text_field :local_authority_type, class: "form-control"
.form-group
  = f.label :start_date, class: "form-label form-label-bold"
  %span.form-hint The date a record first became relevant to a register
  = f.text_field :start_date, class: "form-control"
.form-group
  = f.label :end_date, class: "form-label form-label-bold"
  %span.form-hint The date a record stopped being applicable
  = f.text_field :end_date, class: "form-control"
