%h1.heading-xlarge Update the details

.form-group
  = f.label :code, class: "form-label form-label-bold"
  %span.form-hint The country's 2-letter ISO 3166-2 alpha code
  = f.text_field :code, readonly: true, class: "form-control form-control-1-8 disabled"
.form-group
  = f.label :name, class: "form-label form-label-bold"
  %span.form-hint The commonly used name for this record
  = f.text_field :name, class: "form-control"
.form-group
  = f.label :official_name, class: "form-label form-label-bold"
  %span.form-hint The official or technical name for this record
  = f.text_field :official_name, class: "form-control"
.form-group
  = f.label :citizen_name, class: "form-label form-label-bold"
  %span.form-hint The name of the country's citizen's
  = f.text_field :citizen_name, class: "form-control"
.form-group
  = f.label :start_date, class: "form-label form-label-bold"
  %span.form-hint The date a record first became relevant to a register
  = f.text_field :start_date, class: "form-control"
.form-group
  = f.label :end_date, class: "form-label form-label-bold"
  %span.form-hint The date a record stopped being applicable to a register
  = f.text_field :end_date, class: "form-control"
