- if @country.persisted?
  %h1.heading-large Update the details
- else
  %h1.heading-large Add a new country

= f.text_field :code, readonly: @country.persisted?, class: "form-control-1-8 #{@country.persisted? ? 'disabled' : ''}"
= f.text_field :name
= f.text_field :official_name
= f.text_field :citizen_name
= f.text_field :start_date
= f.text_field :end_date
