= content_for :page_title, "Local Authority Eng Register"

= link_to "Back", root_path, class: "link-back"

%h4.heading-medium Choose a local authority eng to update

%table
  %thead
    %tr
      %th Local authority eng
      %th Name
      %th Official name
      %th

  %tbody
    - @local_authority_engs.each do |local_authority_eng|
      %tr
        %td= local_authority_eng.code
        %td= local_authority_eng.name
        %td= local_authority_eng.official_name
        %td= link_to 'Update', edit_local_authority_eng_path(local_authority_eng)
