= content_for :page_title, "Local Authority Eng Register"

= link_to "Back", root_path, class: "link-back"

%h4.heading-medium Choose a local authority eng to update

.js-filter-list
  %form{class: "js-filter-form"}
    %fieldset
      .form-group
        %label{class: "form-label", for: "search"} Search for a local authority eng
        %input{name: "search", id: "search", class: "form-control"}

%table
  %thead
    %tr
      %th Local authority eng
      %th Name
      %th Official name
      %th

  %tbody{class: "js-filter-block"}
    - @local_authority_engs.order(:name).each do |local_authority_eng|
      %tr{class: "js-filter-item", "data-filter-terms" => "#{local_authority_eng.official_name} #{local_authority_eng.name}"}
        %td= local_authority_eng.code
        %td= local_authority_eng.name
        %td= local_authority_eng.official_name
        %td= link_to 'Update', edit_local_authority_eng_path(local_authority_eng)

= content_for :javascript do
  :javascript
    jQuery(function($) {
      GOVUK.filterListItems.init();
    });
