= content_for :page_title, "Local Authority Eng Register"

= link_to "Back", local_authority_engs_path, class: "link-back"

%h1.heading-xlarge= @local_authority_eng.code

%table
  %thead
    %tr
      %th Fields
      %th Values

  %tbody
    %tr
      %td Local authority eng
      %td= @local_authority_eng.code
    %tr
      %td Name
      %td= @local_authority_eng.name
    %tr
      %td Official name
      %td= @local_authority_eng.official_name
    %tr
      %td Citizen names
      %td= @local_authority_eng.local_authority_type
    %tr
      %td Start date
      %td= @local_authority_eng.start_date
    %tr
      %td End date
      %td= @local_authority_eng.end_date

= link_to 'Update', edit_local_authority_eng_path(@local_authority_eng), class: "button"