= form_for @user do |f|
  = f.text_field :full_name, class: "disabled"
  = f.text_field :email, class: "disabled"
  = f.fields_for :team_members do |tm|
    %h3.heading-small= t('views.users.permission_title')
    .form-group
      %fieldset
        %legend.visually-hidden= t('views.users.role')
        .multiple-choice
          = tm.radio_button :role, "advanced"
          = tm.label :role, "Advanced", value: "advanced"
        .user__permissions
          %p.list-title Advanced can:
          %ul.list.list-bullet
            %li Change records
            %li Submit changes for review
            %li Approve and publish changes to records
        .multiple-choice
          = tm.radio_button :role, "basic"
          = tm.label :role, "Basic", value: "basic"
        .user__permissions
          %p.list-title Basic can:
          %ul.list.list-bullet
            %li Change records
            %li Submit changes for review
  .form-group
    = f.submit "Submit", class: "button"
