= content_for :page_title, t('views.users.custodians.page_title')

%header.page-header
  .grid-row
    .column-two-thirds
      %h1.heading-large= t('views.users.custodians.page_title')
    .column-one-third
      = link_to t('views.users.custodians.invite'), new_user_invitation_path(role: 'custodian'), class: 'button align-with-heading'

%table
  %thead
    %tr
      %th Name
      %th Email
      %th Registers
      %th
  %tbody
    - if @custodians.present?
      - @custodians.each do |custodian|
        %tr
          %td
            %span.user__name
              = custodian.full_name
          %td= custodian.email
          %td
            - custodian.team_members.first.team.registers.each do |register|
              %span.user__register-name= prepare_register_name(register.key)
          %td
            = link_to 'View team', team_path(custodian.team_members.where(role: 'custodian').last.team_id)
