= content_for :page_title, t('views.users.custodians.page_title')

%header.page-header
  .grid-row
    .column-two-thirds
      %h1.heading-large= t('views.users.custodians.page_title')
    .column-one-third
      = link_to t('views.users.custodians.invite'), new_user_invitation_path(role: 'custodian'), class: 'button align-with-heading'

.tabs-container
  .js-tabs.nav-tabs
    %ul
      %li
        = link_to 'Custodians', '#custodians'
      %li
        = link_to 'Pending invites', '#invites'
  .js-tab-content.tab-content
    #custodians.js-tab-pane.tab-pane
      .js-filter-list
        %form{class: "js-filter-form"}
          %fieldset
            .form-group
              %label{class: "form-label", for: "search"} Search for a custodian
              %input{name: "search", id: "search", class: "form-control"}

      %table
        %thead
          %tr
            %th Name
            %th Email
            %th Registers
            %th
        %tbody
          - if @teams.present?
            - @teams.each do |team|
              - if team.custodian.invitation_accepted_at.present?
                %tr{class: "js-filter-item", "data-filter-terms" => "#{team.custodian.full_name} #{team.custodian.email}"}
                  %td
                    %span.user__name
                      = team.custodian.full_name
                  %td= team.custodian.email
                  %td
                    - team.registers.each do |register|
                      %span.user__register-name= prepare_register_name(register.key)
                  %td
                    = link_to 'View team', team_path(team)

    #invites.js-tab-pane.tab-pane
      %table
        %thead
          %tr
            %th Email
            %th Registers
        %tbody
          - if @teams.present?
            - @teams.each do |team|
              - if team.custodian.invitation_accepted_at.nil?
                %tr{class: "js-filter-item", "data-filter-terms" => "#{team.custodian.email}"}
                  %td= team.custodian.email
                  %td
                    - team.registers.each do |register|
                      %span.user__register-name= prepare_register_name(register.key)

= content_for :javascript do
  :javascript
    jQuery(function($) {
      GOVUK.filterListItems.init();
      $('.tabs-container').tabs();
    });
