= content_for :page_title, t('views.users.show.page_title')

%h1.heading-large= t('views.users.show.page_title')

%table
  %tbody
    %tr
      %td.bold Name
      %td= @user.full_name
    %tr
      %td.bold Email
      %td= @user.email
    %tr
      %td.bold Password
      %td
        Last updated on
        = @user.updated_at.strftime("%d %B %Y at %H:%M")

.form-group
  = link_to t('views.users.show.update_account'), edit_user_registration_path, class: "button"
