= content_for :page_title, t('views.users.team.page_title')

%header.page-header
  .grid-row
    .column-two-thirds
      %h1.heading-large= t('views.users.team.page_title')
    .column-one-third
      = link_to t('views.users.new.page_title'), new_user_invitation_path, class: "button align-with-heading"

%h3.heading-medium Registers managed by this team
%ul.list.list-bullet
  %li= @team.registers.join(', ')

%h3.heading-medium Advanced
.user__permissions
  %p.list-title Advanced can:
  %ul.list.list-bullet
    %li Change records
    %li Submit changes for review
    %li Approve and publish changes to records

%table
  %tbody
    - if @advanced_users.present?
      - @advanced_users.each do |user|
        %tr
          %td
            %span.user__name= user.full_name
            %span.user__email= user.email
          %td
            = link_to t('views.roles.change_role'), edit_user_path(user)
    - else
      %tr
        %td
          %span.user__email There are no team members with advanced permissions
        %td

%h3.heading-medium Basic
.user__permissions
  %p.list-title Basic can:
  %ul.list.list-bullet
    %li Change records
    %li Submit changes for review

%table
  %tbody
    - if @basic_users.present?
      - @basic_users.each do |user|
        %tr
          %td
            %span.user__name= user.full_name
            %span.user__email= user.email
          %td
            = link_to t('views.roles.change_role'), edit_user_path(user)
    - else
      %tr
        %td
          %span.user__email There are no team members with basic permissions
        %td

%h3.heading-medium Pending invites
%table
  %tbody
    - if @pending_users.present?
      - @pending_users.each do |user|
        %tr
          %td
            %span.user__name= user.full_name
            %span.user__email= user.email
          %td
            = link_to t('views.roles.change_role'), edit_user_path(user)
    - else
      %tr
        %td
          %span.user__email There are no users with a pending invite
        %td
