= content_for :page_title, t('views.users.team.page_title')

%header.page-header
  .grid-row
    .column-two-thirds
      %h1.heading-large= t('views.users.team.page_title')
    .column-one-third
      = link_to t('views.users.new.page_title'), new_user_invitation_path('advanced'), class: "button align-with-heading"

%h3.heading-medium Advanced
.user__permissions
  %p.list-title Advanced can:
  %ul.list.list-bullet
    %li Change records
    %li Submit changes for review
    %li Approve and publish changes to records

%table
  %tbody
    - @advanced_users.each do |user|
      %tr
        %td
          %span.user__name= user.full_name
          %span.user__email= user.email
        %td
          = link_to t('views.roles.change_role'), edit_user_path(user)

%h3.heading-medium Basic
.user__permissions
  %p.list-title Basic can:
  %ul.list.list-bullet
    %li Change records
    %li Submit changes for review

%table
  %tbody
    - @basic_users.each do |user|
      %tr
        %td
          %span.user__name= user.full_name
          %span.user__email= user.email
        %td
          = link_to t('views.roles.change_role'), edit_user_path(user)
