= content_for :page_title, 'Home'

%h1.heading-xlarge Manage register

%h5.heading-medium Choose a register

= form_tag select_register_path do
  .form-group
    %fieldset
      %legend.visually-hidden Choose a register
      - if current_user.admin?
        - @registers.each do |register|
          .multiple-choice
            = radio_button_tag :register, register.key
            = label_tag "register_" + prepare_register_name(register.key).gsub(' ', '-').downcase, prepare_register_name(register.key)
      - else
        - @registers.select{ |r| current_user.team_members.first.team.registers.include? r.key }.each do |register|
          .multiple-choice
            = radio_button_tag :register, register.key
            = label_tag "register_" + prepare_register_name(register.key).gsub(' ', '-').downcase, prepare_register_name(register.key)
  .form-group
    = submit_tag "Continue", class: "button"
