= content_for :page_title, 'Home'

%h1.heading-xlarge Manage registers

%h5.heading-medium Choose a register

%ul
  - unless current_user.email == "stephen.mcallister@communities.gsi.gov.uk"
    %li= link_to "Country register", countries_path
    %li= link_to "Territory register", territories_path
  - unless current_user.email == "tony.worron@fco.gsi.gov.uk"
    %li= link_to "Local Authority Eng Register", local_authority_engs_path
    %li= link_to "Local Authority Type Register", local_authority_types_path
