= content_for :page_title, 'Sign in'

%h1.heading-xlarge Sign in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.email_field :email
  = f.password_field :password
  .form-group
    = f.submit "Continue", class: "button"
= render "devise/shared/links"
