= content_for :page_title, t('devise.invitations.edit.header')
= devise_error_messages!
%h1.heading-large= t('devise.invitations.edit.header')

= form_for resource, as: resource_name, url: invitation_path(resource_name), html: {method: :put} do |f|
  
  = f.hidden_field :invitation_token
  = f.text_field :full_name
  = f.password_field :password
  = f.password_field :password_confirmation
  .form-group
    = f.submit t('devise.invitations.edit.submit_button'), class: 'button'
