= content_for :page_title, t('devise.invitations.new.header')

%h1.heading-large= t('devise.invitations.new.header')

= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post } do |f|
  = devise_error_messages!
  - resource.class.invite_key_fields.each do |field|
    = f.text_field field
  - if current_user.admin?
    .form-group
      = f.label :registers, class: "form-label"
      = f.select :registers, beta_registers_by_name, { }, { multiple: true, class: "form-control" }

  =f.fields_for :team_members, TeamMember.new do |tm|
    =tm.hidden_field :team_id, value: current_user.get_team_id_with_highest_permissions
    %h3.heading-small= t('views.users.permission_title')
    .form-group
      %fieldset
        %legend.visually-hidden= t('views.users.role')
        .multiple-choice
          = tm.radio_button :role, "advanced"
          = tm.label :role, "Advanced", value: "advanced"
        .user__permissions
          %p.list-title Advanced can:
          %ul.list.list-bullet
            %li Change records
            %li Submit changes for review
            %li Approve and publish changes to records
        .multiple-choice
          = tm.radio_button :role, "basic"
          = tm.label :role, "Basic", value: "basic"
        .user__permissions
          %p.list-title Basic can:
          %ul.list.list-bullet
            %li Change records
            %li Submit changes for review

  .form-group
    = f.submit "Send invite", class: 'button'
