= content_for :page_title, "Territory Register"

= link_to "Back", root_path, class: "link-back"

%h4.heading-medium Choose a territory to update

%table
  %thead
    %tr
      %th Territory
      %th Official name
      %th

  %tbody
    - @territories.each do |territory|
      %tr
        %td= territory.code
        %td= territory.official_name
        %td= link_to 'Update', edit_territory_path(territory)
