= content_for :page_title, "Territory Register"

= link_to "Back", root_path, class: "link-back"

%h4.heading-medium Choose a territory to update

.js-filter-list
  %form{class: "js-filter-form"}
    .form-group
      %input{name: "search", id: "search", placeholder: "E.g. Gibraltar", class: "form-control"}

%table
  %thead
    %tr
      %th Territory
      %th Name
      %th Official name
      %th

  %tbody{class: "js-filter-block"}
    - @territories.order(:name).each do |territory|
      %tr{class: "js-filter-item", "data-filter-terms" => "#{territory.official_name} #{territory.name}"}
        %td= territory.code
        %td= territory.name
        %td= territory.official_name
        %td= link_to 'Update', edit_territory_path(territory)

= content_for :javascript do
  :javascript
    jQuery(function($) {
      GOVUK.filterListItems.init();
    });
