= content_for :page_title, "Territory Register"

= link_to "Back", territories_path, class: "link-back"

%h1.heading-large= @territory.code

%table
  %thead
    %tr
      %th Fields
      %th Values

  %tbody
    %tr
      %td Territory
      %td= @territory.code
    %tr
      %td Name
      %td= @territory.name
    %tr
      %td Official name
      %td= @territory.official_name
    %tr
      %td Start date
      %td= @territory.start_date
    %tr
      %td End date
      %td= @territory.end_date

= link_to 'Update', edit_territory_path(@territory), class: "button"
