= content_for :page_title, "Country Register"

= link_to "Back", root_path, class: "link-back"

%h4.heading-medium Choose a country to update

%table
  %thead
    %tr
      %th Country
      %th Name
      %th Official name
      %th

  %tbody
    - @countries.each do |country|
      %tr
        %td= country.code
        %td= country.name
        %td= country.official_name
        %td= link_to 'Update', edit_country_path(country)
