= content_for :page_title, "Country Register"

%h1.heading-large Manage Register

%h4.heading-medium Choose a country to update

%table
  %thead
    %tr
      %th Country
      %th Name
      %th Official name
      %th

  %tbody
    - @countries.each do |country|
      %tr
        %td= link_to country.code, country_path(country)
        %td= country.name
        %td= country.official_name
        %td= link_to 'Update', edit_country_path(country)
