= content_for :page_title, "Country Register"

= link_to "Back", countries_path, class: "link-back"

%h1.heading-large= @country.code

%table
  %thead
    %tr
      %th Fields
      %th Values

  %tbody
    %tr
      %td Country
      %td= @country.code
    %tr
      %td Name
      %td= @country.name
    %tr
      %td Official name
      %td= @country.official_name
    %tr
      %td Citizen names
      %td= @country.citizen_name
    %tr
      %td Start date
      %td= @country.start_date
    %tr
      %td End date
      %td= @country.end_date

= link_to 'Update', edit_country_path(@country), class: "button"