= content_for :page_title, "Country Register"

%h1.heading-large Manage register

%table
  %thead
    %tr
      %th Fields
      %th Existing values
      %th New Values
      %th

  %tbody
    %tr
      %td Country
      %td= @country.code
      %td= @country.code_change
      %td= link_to 'Update', edit_country_path(@country)
    %tr
      %td Name
      %td= @country.name
      %td
      %td= link_to 'Update', edit_country_path(@country)
    %tr
      %td Official name
      %td= @country.official_name
      %td
      %td= link_to 'Update', edit_country_path(@country)
    %tr
      %td Citizen names
      %td= @country.citizen_name
      %td
      %td= link_to 'Update', edit_country_path(@country)
    %tr
      %td Start date
      %td= @country.start_date
      %td
      %td= link_to 'Update', edit_country_path(@country)
    %tr
      %td End date
      %td= @country.end_date
      %td
      %td= link_to 'Update', edit_country_path(@country)
