
= form_for :create, url: "/#{params[:register_id]}" do |f|
  - if params[:action] == 'new' || params[:action] == 'create'
    = hidden_field_tag 'is_create', 'true'
  - @register.get_field_definitions.each do |field_definition|
    - field = field_definition.item.value['field']
    - has_error = flash[field.underscore].present?
    .form-group{:class => ('form-group-error' if has_error) }
      = label_tag field, class: 'form-label form-label-bold' do
        = prepare_register_name(field)
        - if has_error
          %span{class: 'error-message'} #{flash[field.underscore]}
      %span.form-hint=field_definition.item.value['text'] 
      - if params[:action] == 'edit' && field == params[:register_id]
        = text_field_tag field, @form[field], class: 'form-control disabled', readonly: true, tabindex: '-1'
      - else
        = text_field_tag field, @form[field], class: "form-control"
  = f.submit 'Continue', class: 'button'
