.js-filter-list
  %form{class: "js-filter-form"}
    %fieldset
      .form-group
        %label{class: "form-label", for: "search"} Search for a record
        %input{name: "search", id: "search", class: "form-control"}

%table
  %thead
    %tr
      %th #{params[:register_id].capitalize}
      - if @register[0].try(:name)
        %th Name
      %th
        %span.visually-hidden Update record

  %tbody{class: "js-filter-block"}
    - @register.each do |register|
      %tr{class: "js-filter-item", "data-filter-terms" => "#{register.try(:name)} #{register.key}"}
        %td= register.key
        %td
          - if register.try(:name)
            = register.name
        %td{style:"text-align:right"}
          - if @changes.any? { |c| c.payload.value?(register.key)}
            Pending review
          - else
            = link_to 'Update', edit_register_path(id: register.key)
