.js-filter-list
  %form{class: "js-filter-form"}
    %fieldset
      .form-group
        %label{class: "form-label", for: "search"} Search for a record
        %input{name: "search", id: "search", class: "form-control"}

%table
  %thead
    %tr
      %th #{params[:register_id].capitalize}
      - if @register.first.item.value['name'].present?
        %th Name
      %th
        %span.visually-hidden Update record

  %tbody{class: "js-filter-block"}
    - @register.each do |record|
      %tr{class: "js-filter-item", "data-filter-terms" => "#{record.try(:name)} #{record.entry.key}"}
        %td= record.entry.key
        %td
          - if record.item.value['name'].present?
            = record.item.value['name']
        %td{style:"text-align:right"}
          - if @changes.any? { |c| c.payload.value?(record.entry.key)}
            Pending review
          - else
            = link_to 'Update', edit_register_path(id: record.entry.key)
