
- if @current_register_record.nil?
  %h1.heading-large Check the details of your new #{prepare_register_name(params[:register]).downcase}
- else
  %h1.heading-large Check the details of your change to #{prepare_register_name(params[:register]).downcase}

%table

  %thead
    %tr
      %th Fields
      - if @current_register_record.nil?
        %th Values
      - else
        %th Current values
        %th New Values
        %th

  %tbody
    - @register.fields.each do |field|
      %tr
        %td #{field}
        - if !@current_register_record.nil?
          %td #{@current_register_record[field]}
          - if !(@current_register_record[field] == nil && params[field.to_sym] == '')
            - if @current_register_record[field] != params[field.to_sym]
              %td
                %div.panel.panel-change-notification #{params[field.to_sym]}
              %td
                = link_to 'Update', {action: 'edit', id: params[params[:register].to_sym], anchor: field, params: params}
            - else
              %td
              %td
          - else
            %td
            %td
        - else
          %td #{params[field.to_sym]}

.notice
  %i.icon.icon-important
    %span.visually-hidden Warning
  %strong.bold-small
    All updates will be published to the Country register

= button_to 'Submit', { action: 'create', params: params, data_confirmed: true }, {class: 'button'}

- if @current_register_record.nil?
  = link_to 'Go back and update the details', {action: 'new', params: params}, class: 'link-back'
