= content_for :page_title, "Confirm new record"

- if @current_register_record.nil?
  %h1.heading-large Check the details of your new #{prepare_register_name(params[:register]).downcase}
- else
  %h1.heading-large Check the details of your change to #{prepare_register_name(params[:register]).downcase}

%table

  %thead
    %tr
      %th Fields
      %th Current Values
      %th New Values
      %th

  %tbody
    - @register.fields.each do |field|
      %tr
        %td #{field}
        - if !@current_register_record.nil?
          %td
            = @current_register_record[field]
            - if params[field].present? && params[field] != @current_register_record[field]
              %span.no-data-found No original data
          - if !(@current_register_record[field] == nil && params[field.to_sym] == '')
            - if @current_register_record[field] != params[field.to_sym]
              %td
                %div.panel.panel-change-notification #{params[field.to_sym]}
              %td
                = link_to 'Update', {action: 'edit', id: params[params[:register].to_sym], anchor: field, params: params}
            - else
              %td
              %td
          - else
            %td
            %td
        - else
          - if params[field].present?
            %td
              %span.no-data-found No original data
            %td
              %span.panel.panel-change-notification= params[field.to_sym]
            %td= link_to 'Update', {action: 'new', params: params.permit!.to_h}
          - else
            %td
            %td
            %td

= form_for :create, method: :post, url: "/#{params[:register]}" do
  = hidden_field_tag :register_name, params[:register]
  = hidden_field_tag :data_confirmed, true
  - @register.fields.each do |field|
    = hidden_field_tag field, params[field]
  - if current_user.basic?
    .notice
      %i.icon.icon-important
        %span.visually-hidden Warning
      %strong.bold-small
        Once you submit, these changes will be reviewed by another team member
  - else
    .multiple-choice
      = check_box_tag :confirm_approve
      = label_tag :confirm_approve, "These changes will be published on the live #{params[:register]} register."
  .form-group
    = button_tag 'Submit', class: 'button'
