= content_for :page_title, "Register"

%header.page-header
  .grid-row
    .column-two-thirds
      %h1.heading-large #{prepare_register_name(params[:register])} register
    .column-one-third
      = link_to "Add a new #{prepare_register_name(params[:register])}", "#{params[:register]}/new", class: "button align-with-heading"

- if current_user.basic?
  = render partial: 'register/shared/records'
- else
  .tabs-container
    .js-tabs.nav-tabs
      %ul
        %li
          = link_to 'Records', '#records'
        %li
          = link_to '#updates' do
            Updates to review
            - if @changes.present?
              %span.change-count= @changes.count
    .js-tab-content.tab-content
      #records.js-tab-pane.tab-pane
        = render partial: 'register/shared/records'
      #updates.js-tab-pane.tab-pane
        - if @changes.present?
          %table
            %thead
              %tr
                %th #{params[:register].capitalize}
                - if @register[0].try(:name)
                  %th Name
                %th

            %tbody
              - @changes.each do |change|
                %tr
                  %td= change.payload[params[:register].to_s]
                  %td= change.payload['name']
                  %td= link_to 'Review', "/change/#{change.id}"
        - else
          %p There are no updates for approval

= content_for :javascript do
  :javascript
    jQuery(function($) {
      GOVUK.filterListItems.init();
      $('.tabs-container').tabs();
    });
