= content_for :page_title, "Register"

%nav.service-navigation
  .service-navigation__name
    #{@register_name} Register
  %ul.service-navigation__nav
    %li.service-navigation__nav-item.active
      = link_to "Update register", "#", class: 'service-navigation__link'
    %li.service-navigation__nav-item
      = link_to "Team", "#", class: 'service-navigation__link'
    %li.service-navigation__nav-item
      = link_to "Settings", "#", class: 'service-navigation__link'

%header.page-header
  .grid-row
    .column-two-thirds
      %h1.heading-large #{@register_name} Register
    .column-one-third
      = link_to "Add a new #{@register_name}", new_register_path, class: "button align-with-heading"

.js-filter-list
  %form{class: "js-filter-form"}
    %fieldset
      .form-group
        %label{class: "form-label", for: "search"} Search for a #{@register_name}
        %input{name: "search", id: "search", class: "form-control"}

%table
  %thead
    %tr
      %th #{@register_name.capitalize}
      %th Name
      %th

  %tbody{class: "js-filter-block"}
    - @register.each do |register|
      %tr{class: "js-filter-item", "data-filter-terms" => "#{register.name} #{register.key}"}
        %td= register.key
        %td= register.name
        %td= link_to 'Update', edit_register_path(register)

= content_for :javascript do
  :javascript
    jQuery(function($) {
      GOVUK.filterListItems.init();
    });
