- content_for :page_title, ' - GOV.UK Registers'

- content_for :inside_header do
  %h1.header-title Registers

- content_for :homepage_url, "/"

- content_for :header_class, "with-proposition"

- content_for :proposition_header do
  .header-proposition
    .content
      = link_to "Menu", "#proposition-links", class: "js-header-toggle menu"
      %nav{id: "proposition-menu"}
        %ul#proposition-links
          - if user_signed_in?
            %li
              = link_to current_user.email, edit_user_registration_path
            %li
              = link_to "Log out", destroy_user_session_path, method: :delete

- content_for :head do
  = stylesheet_link_tag 'application'
  = csrf_meta_tags

- content_for :content do
  %main#content{role:'main', tabindex: "-1"}
    .phase-banner
      %p
        %strong.phase-tag ALPHA
        %span This is a new service – your #{link_to "feedback", "mailto:registerteam@digital.cabinet-office.gov.uk"} will help us to improve it.
    - if alert
      #validation-error-message-no-js.validation-message
        %p.error= alert
    = content_for?(:main) ? yield(:main) : yield

- content_for :body_end do
  = javascript_include_tag 'application'

= render file: 'layouts/govuk_template'
